[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
duckduckgo-search = "*"
fastapi = {extras = ["standard"], version = "*"}
g4f = "*"
httpx = "*"
curl-cffi = "*"
requests = "*"
label-sleuth = "==0.20.2"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.19"
